[General]
EnableAutoUpdates=false
ConfirmOnExit=true
HotkeyFocusType=NeverDisableHotkeys
FirstRun=false
MaxLogs=10

[Video]
Renderer=OpenGL

[BasicWindow]
ShowStatusBar=true
ShowSourceIcons=true
ShowContextToolbars=true
SysTrayEnabled=true
PreviewEnabled=true
AlwaysOnTop=false

[Basic]
Profile=Field
ProfileDir=Field
SceneCollection=Field-Queen
SceneCollectionFile=Field-Queen
ConfigOnNewProfile=true

[OBSWebSocket]
ServerEnabled=false